/*Default CSS layout for narrow screens*/
h1{
margin: 2px;
}
input{
width: 100%;
-webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}
div, p, input{
padding: 0;
margin: 0;
}
span{
padding: 0 2px;
}
#blogin, #bpassword{
float: left;
padding: 0;
margin: 0;
width: 50%;
}

#bhost{
margin-right: 101px;
}
#bport{
width: 100px;
float: right;
}
#content{
background: url('../app-icons/icon-48.png') no-repeat top right;
}
#display{
padding: 2px;
}
.row{
clear:both;
padding: 10px 0 0 0;
}
.input, .console, .command, .data, .output{
	padding: 2px 0px;
	font-family: courier;
    font-size: 12px;
    white-space:pre;
}
#path{
    padding: 5px;
    font-size: 18px;
}
.command{
	color: #008000;
}
.output, .file{
	color: #0000C0;
}
.file, .folder{
    padding: 0px 0px 5px 25px;
	color: #0000C0;
}
.size{
float: right;
}
.file{
    background: url('../app-icons/page_white.png') no-repeat top left;
}
.text{
    background: url('../app-icons/page_white_text.png') no-repeat top left;
}
.xml{
    background: url('../app-icons/page_white_code.png') no-repeat top left;
}
.php{
    background: url('../app-icons/page_white_php.png') no-repeat top left;
}
.image{
    background: url('../app-icons/picture.png') no-repeat top left;
}
.html{
    background: url('../app-icons/html.png') no-repeat top left;
}
.compress{
    background: url('../app-icons/compress.png') no-repeat top left;
}
.folder{
    background: url('../app-icons/folder.png') no-repeat top left;
    cursor: pointer;
}
.music{
    background: url('../app-icons/music.png') no-repeat top left;
}
.word{
    background: url('../app-icons/page_word.png') no-repeat top left;
}
.excel{
    background: url('../app-icons/page_excel.png') no-repeat top left;
}
.pdf{
    background: url('../app-icons/page_white_acrobat.png') no-repeat top left;
}
.data{
	color: #005500;
}
.console{
	color:#484848;
}
#viewraw{
float: right;
}
.hidden{
display: none;
}

@media (min-width: 480px) {
  /*CSS for medium width screens*/
}

@media (min-width: 800px) {
  /*CSS for wide screens*/
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}
