/*Default CSS layout for narrow screens*/
h1{
    margin: 2px;
}
input{
    width: 100%;
    -webkit-box-sizing : border-box;‌​
    -moz-box-sizing : border-box;
    box-sizing : border-box;
}
div, p{
    padding: 0;
    margin: 0;
}
html{
    background: url('../app-icons/icon-48.png') no-repeat top right;

}
#content{
    font-family: arial;
    font-size: 16px;
}
input, button{
    font-size: 16px;
}
#connection p{
    padding: 20px 0 0 0;
}
#connection button{
    font-size: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#connectbutton{
    text-align: center;
    width: 100%;
    padding: 20px 0;
}
#display{
    padding: 2px;
}
#viewraw{
    left: 2px;
}
#connected{
   position: absolute;
   top: 5px;
   left: 248px;
}
#viewraw, #about, #disconnect, #reload{
   position: absolute;
   top: 2px;
   width: 50px;
   height: 50px;
}
#about{
    left: 187px;
}
#disconnect{
   left: 125px;
   font-size: 9px
}
#reload{
   left: 63px;
   font-size: 12px;
}
#header{
    height: 55px;
}
.input, .console, .command, .data, .output{
	padding: 2px 0px;
	font-family: courier;
    font-size: 12px;
    white-space:pre;
}
#path{
    padding: 5px;
    font-size: 18px;
}
.command{
	color: #008000;
}
.output, .file{
	color: #0000C0;
}
.file, .folder{
    padding: 0px 0px 5px 25px;
	color: #0000C0;
}
.filerow{
    height: 44px;
    padding: 5px 0;
    border-bottom: 1px dotted lightgray;
}
.filerow span{
    top: 12px;
    position: relative;
}
#aboutpopup{
    border: 2px solid #953734;
    padding: 20px;
    background: white;
    position: absolute;
    top: 50px;
    border-radius: 5px;
}
#display button{
    margin: 0 5px;
    float: right;
    clear: both;
    padding: 10px;
    width: 50px;
}
#fileopen, #imageopen{
    position: absolute;
    top: 75px;
    left: 5px;
    right: 8px;
    bottom: 35px;
}
#fileopen textarea, #imageopen #image{
    width: 100%;
    height: 100%;
}
#image{
    overflow: scroll;
}
#filename, #imagename{
    position: absolute;
    top: -21px;
}
.file{
    background: url('../app-icons/page_white.png') no-repeat top left;
}
.text{
    background: url('../app-icons/page_white_text.png') no-repeat top left;
}
.xml{
    background: url('../app-icons/page_white_code.png') no-repeat top left;
}
.php{
    background: url('../app-icons/page_white_php.png') no-repeat top left;
}
.image{
    background: url('../app-icons/picture.png') no-repeat top left;
}
.html{
    background: url('../app-icons/html.png') no-repeat top left;
}
.compress{
    background: url('../app-icons/compress.png') no-repeat top left;
}
.folder{
    background: url('../app-icons/folder.png') no-repeat top left;
}
.music{
    background: url('../app-icons/music.png') no-repeat top left;
}
.css{
    background: url('../app-icons/css.png') no-repeat top left;
}
.word{
    background: url('../app-icons/page_word.png') no-repeat top left;
}
.excel{
    background: url('../app-icons/page_excel.png') no-repeat top left;
}
.pdf{
    background: url('../app-icons/page_white_acrobat.png') no-repeat top left;
}
.data{
	color: #005500;
}
.console{
	color:#484848;
}
#viewraw{
    float: right;
}
.hidden{
    display: none;
}

@media (min-width: 480px) {
  /*CSS for medium width screens*/
}

@media (min-width: 800px) {
  /*CSS for wide screens*/
}

@media (min-width: 1100px) {
  /*CSS for really wide screens*/
}
