#install-btn {
    background: #D8504B; /* Old browsers */
    background: -moz-linear-gradient(top,  #D8504B 0%, #953734 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D8504B), color-stop(100%,#953734)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #D8504B 0%,#953734 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #D8504B 0%,#953734 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #D8504B 0%,#953734 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #D8504B 0%,#953734 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D8504B', endColorstr='#953734',GradientType=0 ); /* IE6-9 */

    text-align: center;
    position: absolute;
    top: 2px;
    margin: 0;
    right: 2px;
    padding: 2px;
    color: white;
    max-width: 80%;
    line-height: 1em;
}

